<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About page</title>
</head>

<body>

<h1 style="color:red">Welcome to my about page</h1>

<p>
  <ul>
    <li>Johan van der Klift</li>
    <li>34 years old</li>
    <li>Married to Ilse</li>
    <li>Daughter of 2,5 years old called Yara</li>
  </ul>
</p>
<%= link_to "Home", root_path %>
</body>
</html>